{% extends "base.html" %}
{% block content %}
<h4>PM Finalization – Concepts Ready for PM</h4>
<table class='table table-hover table-sm'>
  <thead><tr><th>ID</th><th>ND No</th><th>Project</th><th>Brand</th><th>MRP</th><th>Action</th></tr></thead>
  <tbody>
  {% for r in rows %}
  <tr>
    <td>{{ r.id }}</td>
    <td>{{ r.nd_no }}</td>
    <td>{{ r.project_no }}</td>
    <td>{{ r.brand_suggestion }}</td>
    <td>{{ r.proposed_mrp }}</td>
    <td><a class='btn btn-sm btn-success' href='{{ url_for("pm_finalize", concept_id=r.id) }}'>Finalize</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}